
@model IList<agilt_projekt.web.ViewModels.EventsListViewModel>

<h1>Create our Event</h1>
    <section>
        @foreach (var events in Model)
        {
            <div><h3>@events.Event</h3></div>
        }
    </section>
    <hr>
    @Html.ActionLink("Log Out", "Index", "Home") 