/* Grundläggande stil för sidan */
body {
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    text-align: center;
    max-width: 400px; 
    margin: 0 auto; 
}

/* Stilar för rubriker */
h2 {
    color: #070101;
    font-size: 24px;
}

/* Stilar för etiketter och inputfält */
label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Stilar för knappen */
input[type="submit"] {
    background-color: #007BFF; /* Bakgrundsfärg för knappen */
    color: #fff; /* Textfärg för knappen */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Färg när man hoverar över knappen */
}

/* Stilar för länkar */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}