<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agilt Projekt</title>
    
</head>
<body>
        <main >
            @RenderBody()
            <hr>
<br>
@await Html.PartialAsync("_PartialViews")

        </main>  
</body>
</html>
